<div class="container pt-4 pb-4">
  <div class="row justify-content-center">
    <div class="form-wrapper col-md-7">
      <h3>再予約する</h3>
      <%= render "shared/error_message", obj: @reservation %>
      <% if @reservation.room.avatar.attached? %>
        <%= image_tag @reservation.room.avatar, class:"reservation-edit-img w-100 mb-4" %>
      <% else %>
        <%= image_tag "default-room.png", class:"reservation-edit-img w-100 mb-4" %>
      <% end %>
      <div class="d-flex justify-content-between fs-3">
        <p><%= @reservation.room.name %></p>
        <p class="room-detail-fee">¥<%= @reservation.room.fee.to_s(:delimited) %>~</p>
      </div>
      <p><%= @reservation.room.address %></p>
      <p><%= @reservation.room.detail %></p>
      <%= form_with(model: @reservation, url: edit_confirm_reservation_path(@reservation.id), method: :post) do |f| %>
        <div class="form-group mb-3 row">
          <%= f.label :check_in, "チェックイン", class:"form-label col-form-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.date_field :check_in, class:"form-control" %>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <%= f.label :check_out, "チェックアウト", class:"form-label col-form-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.date_field :check_out, class:"form-control" %>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <%= f.label :number, "人数", class:"form-label col-form-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.number_field :number, class:"form-control" %>
          </div>
        </div>
        <%= f.hidden_field :room_id, value: @reservation.room_id %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="d-grid gap-2">
          <%= f.submit "再予約する", class:"btn btn-primary" %>
          <%= link_to "キャンセル", :back, class:"btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
