<div class="container">
  <h3>登録済み一覧</h3>
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td>
            <% if room.avatar.attached? %>
              <%= image_tag room.avatar, class:"own-room-img" %>
            <% else %>
              <%= image_tag "default-room.png", class:"own-room-img" %>
            <% end %>
          </td>
          <td><%= link_to room.name, room_path(room.id) %></td>
          <td><%= room.detail %></td>
          <td><%= number_to_currency(room.fee, unit: "¥", precision: 0, format: "%u%n~") %></td>
          <td><%= room.created_at.to_s(:date_jp) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
