<!DOCTYPE html>
<html>
  <head>
    <title>RailsTask2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header-wrapper d-flex justify-content-between align-items-center">
        <%= link_to image_tag("https://rails-02-sample.herokuapp.com/assets/common/logo.png", class:"header-logo"), root_path %>
        <% if user_signed_in? %>
          <div class="dropdown">
            <button id="btnOpenMenu" class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag current_user.avatar, class:"header-avatar" %>
              <%= current_user.name %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnOpenMenu">
              <li><%= link_to "アカウント設定", users_show_account_path, class:"dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
        <% else %>
          <div>
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-light" %>
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success" %>
          </div>
        <% end %>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
